mixin listItem(movie)
  tr
    td #{movie.id}
    td #{movie.title}
    td #{movie.year}
    td
      a(href="/movie/delete/" + movie.id) löschen
    td
      a(href="/movie/form/" + movie.id) bearbeiten