doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Movie list
    link(rel="stylesheet" href="/style.css")
  body

  a(href="/logout") abmelden
  img.logo(src="logo.png" height="50")


  block content
    div Kein Inhalt